@use '../../variables' as *;

:host(.extended-duration) {
    position: absolute !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: auto;
}

:host(.custom-height) {
    .container {
        height: var(--lesson-height, $drag-lesson-element-height);
    }
}

.container {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: $drag-lesson-element-height;
    width: $drag-lesson-element-width;

    overflow: hidden;
    border: $drag-element-border;
    border-radius: 4px;
    transition: border 0.5s;
    display: block;

    background-color: white;

    &:hover {
        border-color: $drag-element-hover-border-color;
    }

    &:hover {
        .content-container.removable {
            width: 85%;
            background-color: $drag-element-hover-background-color;
        }
    }

    .content-container {
        box-sizing: border-box;

        position: relative;

        height: 100%;
        width: 100%;

        padding: 3px 6px;

        background-color: $drag-element-background-color;
        z-index: 1;

        transition: all 0.5s ease;

        span {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.bg-red {
            background-color: rgb(255, 193, 193);
        }

        .title {
            font-weight: 500;
            &:first-letter {
                text-transform: uppercase;
            }
        }

        .teacher-name {
            font-weight: 300;
            &.no-teacher {
                text-align: center;
                color: #ff0606;
                font-weight: 500;
            }
        }

        .class-title {
            position: absolute;
            top: 2px;
            right: 4px;
            padding-left: 2px;

            background-color: inherit;
        }
    }

    .close-icon {
        border: none;
        background-color: transparent;

        cursor: pointer;
        position: absolute;
        top: 54%;
        right: 5px;

        width: 12px;
        height: 14px;

        z-index: 0;

        transform: translateY(-50%);

        &:before,
        &:after {
            content: '';
            position: absolute;

            top: 6px;
            left: 1px;

            width: 10px;
            height: 2px;
            background: $close-icon-color;

            z-index: 1;
        }

        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}
