@use '../../variables' as *;

.room {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: $drag-room-element-height;
    width: $drag-room-element-width;

    overflow: hidden;

    &:hover {
        .content-container.removable {
            width: 60%;
            background-color: $drag-element-hover-background-color;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        border-radius: inherit;

        background-color: $drag-element-background-color;

        z-index: 1;

        transition: all 0.5s ease;

        .title {
            text-align: center;
        }
    }

    .close-icon {
        cursor: pointer;
        position: absolute;
        top: 55%;
        right: 0;

        width: 12px;
        height: 14px;

        z-index: 0;

        transform: translateY(-50%);

        &:before,
        &:after {
            content: '';
            position: absolute;

            top: 6px;
            left: 1px;

            width: 8px;
            height: 2px;
            background: $close-icon-color;
        }

        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}
