$drag-element-height: 55px;
$drag-element-width: 110px;
$cell-paddings: 10px;
$table-schedule-width: 1650px;
$table-schedule-and-lessons-height: 950px;
$table-lessons-width: 135px;

gh-study-schedule {
    .container {
        display: flex;
        align-items: start;
        user-select: none;
        width: 100% !important;

        >:first-child {
            margin-right: 10px;
        }
    }

    table {
        background-color: #ebebeb;
        border: solid 1px #000;
    }

    .table-scroll {
        overflow: auto;
        position: relative;
        min-width: $table-lessons-width;
        max-height: $table-schedule-and-lessons-height;

        &-schedule {
            overflow: auto;
            position: relative;
            max-width: $table-schedule-width;
            max-height: $table-schedule-and-lessons-height;
        }
    }
    

    th, td {
        box-sizing: border-box;
        padding: $cell-paddings;
        border: solid 1px #000;
    }

    .table-lessons {
    }
    
    .table-schedule {
        border-collapse: collapse;

        tr {
            &.row-freeze {
                position: sticky;
                top: 0;
                left: 0;
                background-color: white;
                box-shadow: 0 0 0 0.5px black;
                z-index: 2;
            }
        }

        td.lesson-cell.redips-mark {
            background-color: rgb(197, 197, 197);
        }

        td, th {
            &.column-cell-freeze {
                position: sticky;

                z-index: 1;

                left: 3em;
                background-color: white;

                &::after {
                    display: flex;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    border-right: solid .5px black;
                    border-left: solid .5px black;
                }

                

                &.day-of-week {
                    min-width: 3em;
                    width: 3em;
                    left: 0;

                    &::after {
                        border-left: none;
                    }
                }
            }

            &.day-of-week {
                writing-mode: vertical-rl;
                text-align-last: center;
                transform: rotate(180deg);

                &:first-letter {
                    text-transform: uppercase;
                }
            }

            &.lesson-cell {
                min-width: $drag-element-width + $cell-paddings * 2 + 1.5px;
                height: $drag-element-height + $cell-paddings * 2 + 1.5px;
            }
        }

        th {
            &.classNumber {
                text-transform: uppercase;
                font-weight: normal;
            }
        }
    }

    //dnd
    .redips-drag {
        cursor: move;
        margin: auto;
        background-color: white;
        text-align: center;
        font-size: inherit; /* needed for cloned object */
        border-radius: 4px; /* Opera, Chrome */
        -moz-border-radius: 4px; /* FF */
        border-width: 2px;
    }
    
    div.redips-drag {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: $drag-element-height;
        width: $drag-element-width;

        padding: 10px;

        .lesson-title {
            white-space: nowrap;

            &:first-letter {
                text-transform: uppercase;
            }
        }

        .lesson-teacher-name {
            white-space: nowrap;
        }

        .lesson-class-number {
            position: absolute;
            top: 2px;
            right: 4px;
        }
    }
}