@use './variables' as *;

schedule-lesson {
    width: 100%;
}

gh-study-schedule {
    font-size: 0.8em;

    .loader-container {
        position: relative;

        width: $table-lessons-width + $table-schedule-width;
        height: $table-schedule-and-lessons-height;

        background-color: rgb(250, 253, 253, 0.7);

        z-index: 5;

        .loader_messenger {
            position: absolute;
            top: 50%;
            right: 50%;

            transform: translate(-50%, -50%);
            display: block;
            span {
                @keyframes rotation {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }

                width: 35px;
                height: 35px;
                border: 5px solid;
                border-color: #0d99ff transparent;
                border-radius: 50%;
                display: inline-block;
                animation: rotation 1s linear infinite;
            }
        }
    }

    .container {
        position: relative;

        display: flex;
        align-items: start;
        user-select: none;
        width: 100% !important;

        > :first-child {
            margin-right: 10px;
        }
    }

    table {
        background-color: $table-background-color;
        border: solid 1px $table-border-color;
    }

    .table-scroll-schedule {
        overflow: auto;
        position: relative;
        max-width: $table-schedule-width;
        max-height: $table-schedule-and-lessons-height;

        @include scroll();
    }

    th,
    td {
        box-sizing: border-box;
        position: relative;
        padding: 0;
        border: solid 1px $table-border-color;

        &.lesson-cell {
            min-width: $cell-lesson-width;
            height: $cell-lesson-height;
        }
    }

    .table-schedule {
        border-collapse: collapse;

        tbody {
            tr:nth-child(even) {
                background-color: $table-second-background-color;

                td.column-cell-freeze:not(.day-of-week) {
                    background-color: $table-second-background-color;
                }

                td.disabled::after {
                    background-image: linear-gradient(
                        135deg,
                        #d8d9d9 16.67%,
                        transparent 16.67%,
                        transparent 50%,
                        #d8d9d9 50%,
                        #d8d9d9 66.67%,
                        transparent 66.67%,
                        transparent 100%
                    );
                    background-size: 4.24px 4.24px;
                }
            }
        }

        tr {
            &.row-freeze {
                position: sticky;
                top: 2em;
                left: 0;
                background-color: $table-background-color;
                box-shadow: 0 0 0 0.5px $table-border-color;
                z-index: 3;

                &.row-class-title {
                    height: 2em;
                    top: 0;
                }
            }
        }

        td {
            &.room-cell {
                min-width: $cell-room-width;
            }

            &.disabled::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: linear-gradient(
                    135deg,
                    #e1e1e1 16.67%,
                    transparent 16.67%,
                    transparent 50%,
                    #e1e1e1 50%,
                    #e1e1e1 66.67%,
                    transparent 66.67%,
                    transparent 100%
                );
                background-size: 4.24px 4.24px;
            }
        }

        th {
            &.header-teacher,
            &.header-room {
                font-weight: 300;
            }
            &.header-class-number {
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        td,
        th {
            &.column-cell-freeze {
                position: sticky;

                min-width: 14px;

                text-align: center;

                z-index: 2;

                left: 3em;
                background-color: $table-background-color;

                &::after {
                    display: flex;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    border-right: solid 0.5px $table-border-color;
                    border-left: solid 0.5px $table-border-color;
                }

                &.day-of-week {
                    min-width: 3em;
                    width: 3em;
                    left: 0;

                    &::after {
                        border-right: none;
                    }
                }
            }

            &.day-of-week {
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    display: inline-block;
                    writing-mode: vertical-rl;
                    transform: translate(-50%, -50%) rotate(-180deg);

                    &:first-letter {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    //dnd
    .redips-drag {
        cursor: grab !important;
        margin: auto;
        background-color: white;
        font-size: inherit; /* needed for cloned object */
        border-radius: 4px; /* Opera, Chrome */
        -moz-border-radius: 4px; /* FF */
        border-width: 1px;
    }

    div.redips-clone {
        &.drag-disabled {
            border: $drag-element-border !important; /*important - becouse redips lib set border-style: dotted by js in inline-styles*/
            &::after {
                content: '';
                position: absolute;

                top: 0;
                left: 0;

                height: 100%;
                width: 100%;

                z-index: 2;

                opacity: 0.2;
                background-color: $drag-lesson-disabled-bg-color;
            }
        }
    }

    div.redips-drag {
        position: relative;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        overflow: hidden;

        border: $drag-element-border;
        border-radius: 4px;

        transition: border 0.5s;

        &:hover {
            border-color: $drag-element-hover-border-color;
        }

        &.room {
            height: $drag-room-element-height;
            width: $drag-room-element-width;
        }

        &.lesson {
            height: $drag-lesson-element-height;
            width: $drag-lesson-element-width;
        }
    }
}
